@import url(styles/static.css);
@import url(styles/home.css);
@import url(styles/reservation.css);
@import url(styles/dishes.css);
@import url(styles/reviews.css);
@import url(styles/carrier.css);
@import url(styles/aboutUs.css);
@import url(styles/location.css);

:root {
  /* reservation */
  --main-purpel-blue: #4336ab;
  --res-main-brown: #4c2f26;
  --main-light-bron: #caa472;
  --main-dark-green: #286422;
  --main-dark-red: #800303;
  --button-brown: #a97564;
  --button-brown-hover: #9a5641;

  /* pages */
  --main-blue: #287ab3;
  --main-brown: #674930;
}

/* Themes ******************************************************************************************/
.background-image {
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  height: 60vh;
  display: block;
}

/*Container****************************************************************************************/
body {
  font-family: montserrat, sans-serif;
  font-size: 1rem;
  margin: 0;
  background-color: #ffffef;
}

.container {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  align-self: center;
  position: relative;
}

.container-max {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.container-min {
  width: 70%;
}
