@import url(styles/static.css);
@import url(styles/home.css);
@import url(styles/reservation.css);
@import url(styles/dishes.css);
@import url(styles/reviews.css);
@import url(styles/carrier.css);
@import url(styles/aboutUs.css);
@import url(styles/location.css);

:root {
  /* pages */
  --main-blue: #287ab3;
  --main-blue-light: #90bdde;
  --main-brown: #674930;
  --main-brown-light: #dbbc99;
}
/* Gobal Styling ******************************************************************************************/
.h2 {
  font-size: clamp(1.5rem, 0.9032rem + 2.5806vw, 4rem);
}

img {
  max-width: 100%;
  height: auto;
}

/* Themes ******************************************************************************************/
.bold {
  font-weight: bold;
}

.font-normal {
  font-size: 1rem;
}

/* buttons ******************************************************************************************/

.font-color-primary {
  color: var(--main-brown);
  font-weight: bold;
}

.font-color-secondary {
  color: var(--main-blue);
  font-weight: bold;
}

.background-image {
  background-size: cover;
  height: 60vh;
  display: block;
}

.btn-primary {
  background-color: var(--main-blue);
  color: white;
  font-size: 1.2rem;
  padding: 0.75em 1.5em;
  border: 2px solid var(--main-blue-light);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-primary:hover {
  background-color: var(--main-blue-light);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
  transform: translateY(0);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: var(--main-brown);
  color: white;
  font-size: 1.1rem;
  padding: 0.75em 1.5em;
  border: 2px solid var(--main-brown-light);
  border-radius: 0.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-secondary:hover {
  background-color: var(--main-brown-light);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary:active {
  transform: translateY(0);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

/*Container****************************************************************************************/
body {
  font-family: montserrat, sans-serif;
  font-size: 1rem;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100%;
  align-self: center;
  position: relative;
}

@media (max-width: 1300px) {
  .container {
    width: 95%;
  }
}

.container-max {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.container-min {
  width: 70%;
}
