.carrier-heading {
  color: var(--main-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: lighter;
  margin-top: 12vh;
}

.carrier-heading h2 {
  font-weight: normal;
  font-size: 2rem;
}

.carrier-container {
  width: 100%;
  height: auto;
  border-top: 1px solid var(--main-brown);
  border-bottom: 1px solid var(--main-brown);
  padding: 64px 0px 64px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 24px;
  align-items: flex-start;
}

@media (max-width: 625px) {
  .carrier-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.carrier-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.carrier-card-btn {
  position: relative;
  background-color: var(--main-blue);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 1.2rem;
  border-radius: 10px;
}

.carrier-card-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-blue-light);
  width: 12px;
  height: 100%;
  border-radius: 10px;
}

.carrier-card-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.carrier-card-btn img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.carrier-card-info {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  list-style-type: none;
  line-height: 1.2;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  font-size: 1rem;
  width: 90%;
  margin: 0;
}

.carrier-card-info li {
  padding: 8px 0px;
}

.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
}

.contact-container h2 {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
  align-self: flex-start;
  margin-left: 24px;
  color: var(--main-blue);
}

.contact-form-card {
  color: white;
  background-color: var(--main-blue);
  width: 50%;
  height: auto;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0px 24px 24px 24px;
  margin: 32px 0 32px 0;
}

@media (max-width: 1300px) {
  .contact-form-card {
    width: 95%;
    padding: 0px 8px;
  }
}

.contact-form-card h3 {
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  margin-top: 32px;
}

.contact-form-card input,
textarea {
  width: 95%;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 16px;
  font-size: 1.2rem;
  padding: 8px 0px 8px 8px;
}

.contact-form-card textarea {
  height: 200px;
}
