.menu-card {
  height: 50%;
  width: 50%;
  background-color: aquamarine;
  display: none;
}

.dish-image {
  width: 100%;
  height: auto;
}

.rotate-once {
  animation: spining 5s ease-in-out 1;
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dishes-text,
.dishes-text-reverse {
  font-size: 1.2rem;
  text-align: center;
  color: var(--main-brown);
}

.dishes-text-reverse {
  align-content: end;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 8px;
  margin-top: 24px;
}
