.dishes-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 8px;
  margin-top: 24px;
  padding-top: 9vh;
}

.menu-card {
  height: 50%;
  width: 50%;
  background-color: aquamarine;
  display: none;
}

.dish-image {
  width: 100%;
  height: auto;
}

.rotate-once {
  animation: spining 5s ease-in-out 1;
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dishes-text,
.dishes-text-reverse {
  font-size: 1.2rem;
  text-align: center;
  color: var(--main-brown);
}

.dishes-text-reverse {
  align-content: end;
}

@media (max-width: 1700px) {
  .dishes-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
  }
}

@media (max-width: 950px) {
  .dishes-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 400px 300px;
    margin-bottom: 32px;
  }
  .dishes-text,
  .dishes-text-reverse {
    font-size: 1rem;
    text-align: top;
  }
  .dish-image {
    max-width: 60%;
  }
  .dishes-food {
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 430px) {
  .dishes-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, 1fr);
    margin-bottom: 32px;
    margin-top: 0px;
  }
  .dish-image {
    max-width: 100%;
  }
}
