/* Slideshow ***************************************************************************************/
header {
  position: relative;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slides.active {
  opacity: 1;
  visibility: visible;
}

.slider-background-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 0;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: var(--main-blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  right: 0;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: var(--main-blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** welcome section ********************************************************************************/
.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5% 0 5% 0;
  width: 70%;
  color: #674930;
  height: auto;
  gap: 12px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: welcome-text ease-in-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes welcome-text {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.welcome-text h2 {
  margin: 0;
  border-bottom: var(--main-brown) solid 1px;
}

.welcome-text p {
  display: inline-block;
  padding: 24px;
  background-color: #eeeeee;
  border-radius: 5px;
  text-align: left;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  margin: 0;
  line-height: 30px;
}

.welcome-container img {
  border-radius: 10px;
  height: 25vh;
  width: auto;
  animation: welcome-img ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@media (max-width: 2100px) {
  .welcome-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 2100px) {
  .welcome-container img {
    width: 100%;
    height: auto;
  }
}

@keyframes welcome-img {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/** menu section ************************************************************************************/
.menus-container {
  width: 100%;
  color: var(--main-brown);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  justify-self: center;
}

.menus-container h2 {
  font-size: 46px;
  justify-self: center;
}

.menu-section {
  color: var(--main-brown);
}

.menu-introduction-left,
.menu-introduction-right,
.menu-introduction-right-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-bottom: double 10px;
  flex-wrap: wrap;
  animation: menu-right ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

@keyframes menu-right {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(40%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.menu-introduction-right,
.menu-introduction-right-last {
  flex-direction: row-reverse;
  animation: menu-left ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.menu-introduction-right-last {
  border-bottom: none;
}

@keyframes menu-left {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-40%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.menu-introduction-text {
  width: 80%;
  height: auto;
  display: inline-block;
  padding: 24px;
  background-color: #eeeeee;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  animation: menu-img ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.image-container:hover .image-overlay {
  transform: scale(1);
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transform: scale(0);
  transition: 0.3s ease;
}

.menu-info-card-left,
.menu-info-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 50%;
  align-items: flex-start;
  padding: 24px 0 24px 0;
}

.menu-info-card-right {
  align-items: flex-end;
}

.menu-section h3 {
  font-size: 24px;
  padding: 12px;
  margin: 0;
}

.menu-subtext {
  padding-left: 24px;
  font-size: 18px;
}

.menu-details {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: #000000 1px 1px 1px;
}

.menu-image {
  display: block;
  height: 25vh;
  width: auto;
}

@media (max-width: 1950px) {
  .menu-info-card-right {
    width: 100%;
    padding-top: 24px;
  }
  .menu-info-card-left {
    width: 100%;
  }
}
