.location-container {
  display: flex;
  gap: 32px;
  width: 100%;
  margin: 64px 0;
}

.location-map {
  width: 50%;
}

.location-time {
  margin: 24px;
  color: var(--main-brown);
  font-size: 1.3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.location-time h2 {
  margin-top: 0;
}

.location-image1 {
  height: auto;
  max-width: 400px;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .location-container {
    flex-direction: column;
    align-items: center;
  }

  .location-map {
    width: 100%;
  }

  .location-text {
    width: 100%;
    text-align: center;
  }
  .location-image1 {
    width: 100%;
    margin-top: 128px;
  }
}

.location-box {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--main-blue);
  margin: 64px 0;
}

.location-text {
  width: 50%;
  margin: auto;
  color: var(--main-brown);
  font-size: 1.3rem;
  padding: 96px 0;
  text-align: center;
}

.location-image2 {
  border-radius: 10px;
}

@media (max-width: 950px) {
  .location-text {
    width: 95%;
    font-size: 1.1rem;
  }
}
