.reservation-container {
  padding-top: 15vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 64px;
}

.reservation-title {
  grid-area: 1 / 1 / 1 / 7;
  font-size: 3rem;
}

.reservation-grid-image {
  grid-area: 2 / 1 / 5 / 4;
}

.reservation-grid-card {
  grid-area: 2 / 4 / 5 / 7;
  display: block;
}

.reservation-option-container {
  display: flex;
  justify-content: space-around;
  background-color: #c21d1d;
}

/*Calendar styling************************************************************/
.form-control {
  background-color: var(--main-blue);
  color: white;
  font-size: 1.2rem;
  padding: 0.75em 1.5em;
  border: 2px solid var(--main-blue-light);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  width: auto;
}

.form-control:hover {
  background-color: var(--main-blue-light);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  color: var(--main-blue);
}

.flatpickr-calendar {
  background-color: var(--main-blue) !important;
  border-radius: 10px !important;
}

.flatpickr-month {
  background-color: white !important;
}

.flatpickr-weekdays {
  background-color: white !important;
  color: white !important;
}

.flatpickr-day {
  color: white !important;
}

.flatpickr-day:hover {
  background-color: var(--main-blue-light) !important;
}

.flatpickr-confirm {
  background-color: white !important;
  color: black !important;
}

.flatpickr-hour {
  color: white !important;
}

.flatpickr-hour:hover {
  background-color: var(--main-blue-light) !important;
}

.flatpickr-minute {
  color: white !important;
}

.flatpickr-minute:hover {
  background-color: var(--main-blue-light) !important;
}

.flatpickr-time-separator {
  color: white !important;
}

#dropdown-display {
  overflow: hidden;
  margin-top: 32px;
}

.dropdown-list {
  border-radius: 10px;
  width: 100%;
  z-index: 1;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-height: 0px;
  transition: max-height 0.5s ease-out;
  margin: 0;
  display: grid;
}

.dropdown-list.active {
  max-height: 500px;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  list-style-type: none;
  border-radius: 4px;
  border: 2px solid #42a5f5;
}

.dropdown-item:hover {
  background-color: #42a5f5;
  color: white;
}

#reservation-time {
  width: 100%;
  max-height: 0px;
}

#reservation-time.active {
  width: 100%;
  max-height: 1000px;
}

.reservation-infos {
  grid-area: 5 / 1 / 8 / 7;
}
